<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlConnection"
            connectionString="Data Source=DESKTOP-0NRHTK8\SQLEXPRESS;Initial Catalog=VeterinaryDb;User ID=sa;Password=1234;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
